[Unit]
Description=Go sample web app
After=multi-user.target

[Service]
User=root
Group=root
ExecStart=/home/bahadirtasdelen_gmail_com/helloworld &

[Install]
WantedBy=multi-user.target
